# Server Configuration
PORT=3000

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=setyourpassword

# RCON Configuration
RCON_HOST=localhost
RCON_PORT=25575
RCON_PASSWORD=yourrconpassword

# Paths
MODS_PATH=/your/server/mods
SERVER_PATH=/your/server
